@media (min-width: 576px) {

}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}


@media (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1264px;
    }

    header .container-lg {
        padding: 0 77px;
    }
}

header {
    padding: 32px 0;
}

button {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 47px;
    background: #EF7925;
    border-radius: 3px;
    border: 0;
}

a {
    text-decoration: none;
}

h1 {
    margin-bottom: 24px;
}

.info-block {
    margin-bottom: 56px;
}